<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<!-- 
              android:usesCleartextTraffic="true"
从 Android 9（API 28） 开始，Google 出于安全考虑，默认禁止应用发起明文 HTTP 请求，只允许加密的 HTTPS 请求 
这是一个 http:// 明文协议地址。在没有这个配置的情况下，Android 系统会直接在网络层拦截并阻断这个请求，App 收不到任何数据，LynxView 自然无法显示页面。
 -->
    <application
        android:name=".YourApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
              android:usesCleartextTraffic="true"
  android:theme="@style/Theme.KotlinEmptyProject"
        tools:targetApi="31">
        <activity
            android:name=".DebugActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinEmptyProject" />
        <activity
            android:name=".SwitchActivity"
            android:exported="false"
            android:theme="@style/Theme.KotlinEmptyProject" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinEmptyProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>